.col-lg-6
  .question-section.login-section
    .review-form.box-shadows
      .review-form-text
        h5.comment-title Get In Touch
        img(src="clients/images/homepage-one/vector-line.png", alt="img")
      form(action="/contact/send-problem" method="POST")
        .account-inner-form
          .review-form-name
            label.form-label(for="name") Name*
            input#name.form-control(
              type="text", 
              name="name", 
              placeholder="Name", 
              value=(user ? user.fullName : ''), 
              required
            )
          .review-form-name
            label.form-label(for="email") Email*
            input#email.form-control(
              type="email", 
              name="email", 
              placeholder="user@gmail.com", 
              value=(user ? user.email : ''), 
              required
            )
          .review-form-name
            label.form-label(for="subject") Subject*
            input#subject.form-control(type="text", name="subject", placeholder="Subject" required)
        .review-textarea
          label(for="message") Message*
          textarea#message.form-control(name="message", placeholder="Write your message...", rows="3" required)
        .login-btn.mt-3
          button.shop-btn.btn.btn-primary(type="submit") Send Now
