extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  +alert-error(message)
  +alert-success(message)
  if( role.permissions.includes("products_category-edit"))
    .row
      // Product Card
      .col-xl-3.col-lg-4
        .card
          .card-header.bg-secondary.text-white
            h4.card-title Category Preview
          .card-body
            img.img-fluid.rounded.bg-light(upload-image)
            .mt-3
              h4#preview-title #{category.title}
                span.fs-14.text-muted.ms-1 (##{category.status})
              .row
                .col-lg-6.col-12
                  p.mb-1.mt-2 Created By :
                  h5.mb-0 #{user.fullName}
                .col-lg-6.col-12
                  p.mb-1.mt-2 Parent Category :
                  h5.mb-0#preview-parent-category= category.parent_id ? category.parent_id.title : "No Parent Category"

      // Add Product Photo Card
      .col-xl-9.col-lg-8
        .card
          .card-header
            h4.card-title General Information
          .card-body
            form(
              action=`/${prefixAdmin}/category/edit/${slug}?_method=PATCH`,
              method="POST",
              class="form-create-product",
              enctype="multipart/form-data"
            )
              .row
                // Thumbnail Upload Section
                .col-lg-6  
                  label.form-label(for="thumbnail")
                    span.btn.btn-outline-secondary.w-100 Thumbnail
                  label.custom-file-upload
                    i.bx.bx-cloud-upload
                    input(
                      type="file",
                      class="form-control-file d-none",
                      id="thumbnail",
                      name="thumbnail",
                      accept="image/*",
                      upload-input
                    )
                    img(src="", alt="", upload-image)

                // Status Radio Buttons Section
                .col-lg-6  
                  p Status
                  .d-flex.gap-2.align-items-center.mb-3
                    .form-check
                      input.form-check-input(type="radio" name="status" id="active" value="active" checked=category.status === 'active')
                      label.form-check-label(for="active") Active
                    .form-check
                      input.form-check-input(type="radio" name="status" id="inactive" value="inactive" checked=category.status === 'inactive')
                      label.form-check-label(for="inactive") Inactive

                // Category Title Input
                .col-lg-6
                  .mb-3
                    label.form-label(for="category-title") Category Title
                    input.form-control(
                      type="text",
                      id="category-title",
                      name="title",
                      placeholder="Category Name",
                      value=category.title
                    )

                // Created By Input
                .col-lg-6
                  .mb-3
                    label.form-label(for="created-by") Created By
                    input.form-control(
                      type="text",
                      id="created-by",
                      name="createdBy",
                      placeholder="Enter Creator's Name",
                      value=category.createdBy.fullName
                      readOnly=true
                    )

                // Position Input
                .col-lg-6
                  .mb-3
                    label.form-label(for="position") Position
                    input.form-control(
                      type="number",
                      id="position",
                      name="position",
                      placeholder="Position",
                      value=category.position
                    )

                // Category Parents Dropdown
                .col-lg-6
                  .mb-3
                    label.form-label(for="category-parents") Category Parents
                    select.form-control(
                      id="category-parents",
                      name="parent_id",
                      data-choices,
                      data-choices-groups,
                      data-placeholder="Select Parent Category"
                    )
                      option(value="" selected=category.parent_id === "") Choose a category
                      if category.parent_id
                        +select-tree(productsCategory, 1, category.parent_id._id)
                      else 
                        +select-tree(productsCategory)
                // Description Textarea
                .col-lg-12
                  .mb-3
                    label.form-label(for="description") Description
                    textarea.form-control.bg-light-subtle(
                      id="description",
                      name="description",
                      rows="7",
                      placeholder="Short description about the category"
                    )= category.description

              // Buttons for Submit and Reset
              .p-3.bg-light.mb-3.rounded
                .row.justify-content-end.g-2
                  .col-lg-2
                    button.btn.btn-outline-secondary.w-100(type="submit") Edit Category
                  .col-lg-2
                    button.btn.btn-primary.w-100(type="reset") Cancel
