.swiper-slide.testimonial-wrapper
    .ratings
        span
            svg(width="99" height="21" viewBox="0 0 99 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(
        d="M9.88976 0.5L12.1102 7.40983H19.2955L13.4824 11.6803L15.7028 18.5902L9.88976 14.3197L4.07671 18.5902L6.2971 11.6803L0.484039 7.40983H7.66937L9.88976 0.5Z"
        fill="#FFA800"
    )
                path(
                    d="M29.671 0.5L31.8914 7.40983H39.0767L33.2637 11.6803L35.4841 18.5902L29.671 14.3197L23.858 18.5902L26.0783 11.6803L20.2653 7.40983H27.4506L29.671 0.5Z"
                    fill="#FFA800"
                )
                path(
                    d="M49.4484 0.5L51.6687 7.40983H58.8541L53.041 11.6803L55.2614 18.5902L49.4484 14.3197L43.6353 18.5902L45.8557 11.6803L40.0426 7.40983H47.228L49.4484 0.5Z"
                    fill="#FFA800"
                )
                path(
                    d="M69.2296 0.5L71.45 7.40983H78.6353L72.8223 11.6803L75.0427 18.5902L69.2296 14.3197L63.4166 18.5902L65.6369 11.6803L59.8239 7.40983H67.0092L69.2296 0.5Z"
                    fill="#FFA800"
                )
                path(
                    d="M89.007 0.5L91.2273 7.40983H98.4127L92.5996 11.6803L94.82 18.5902L89.007 14.3197L83.1939 18.5902L85.4143 11.6803L79.6012 7.40983H86.7866L89.007 0.5Z"
                    fill="#FFA800"
                )

        span.text (5.0)
    
    p.testimonial-details Lorem Ipsum is simply dummy text of the printing and typesetting
        | industry. Lorem Ipsum has been the industry's standard dummy text ever since the redi 1500s,
        | when an into the find unknown printer took a galley of type and scrambled it to make a type
        | inot the specimen book. It has survived not only five centuries but also the on leap into
        | find it a electronic typesetting, remaining end to make it.

    .divider
    
    .testimonial-info
        .testimonial-img
            img(src="clients/images/homepage-one/about/testimonial-img-1.webp" alt="img")
        .testimonial-info-details
            h5.testimonial-name Md Abdur Rahman
            p.testimonial-title CEO OF
                span.title-inner DesignCraft
