div.tab-pane.fade(id="v-pills-profile", role="tabpanel", aria-labelledby="v-pills-profile-tab", tabindex="0")
  form(action="/user/update-profile" method="POST" enctype="multipart/form-data" form-upload-personal-information)  
    .seller-application-section
      .row
        .col-lg-7
          .account-section
            .review-form
              .account-inner-form
                .review-form-name
                  label.form-label(for="firname") First Name*
                  input.form-control(type="text", id="firname", placeholder="First Name", name="firstName" value=user.fullName.split(' ')[0] || '')

                .review-form-name
                  label.form-label(for="latname") Last Name*
                  input.form-control(type="text", id="latname", placeholder="Last Name", name="lastName" value=user.fullName.split(' ').slice(1).join(' ') || '')

              .account-inner-form
                .review-form-name
                  label.form-label(for="gmail") Email*
                  input.form-control(type="email", id="gmail", placeholder="user@gmail.com", name="email" value=user.email || '')

                .review-form-name
                  label.form-label(for="telephone") Phone*
                  input.form-control(type="tel", id="telephone", placeholder="+880388**0899", name="phone" value=user.phone || '')

              .review-form-name
                label.form-label(for="region") Country*
                select.form-select(id="region")
                  option(selected=user.country === 'VietName') VietNam
                  option(selected=user.country === 'United States') United States
                  option(selected=user.country === 'United Kingdom') United Kingdom

              .review-form-name.address-form
                label.form-label(for="addres") Address*
                input.form-control(type="text", id="addres", name="address" placeholder="Enter your Address", value=user.address || '')

              .account-inner-form.city-inner-form
                .review-form-name
                  label.form-label(for="teritory") Town / City*
                  select.form-select(id="teritory")
                    option(selected=user.city === 'Newyork') Newyork
                    option(selected=user.city === 'Dhaka') Dhaka
                    option(selected=user.city === 'London') London

                .review-form-name
                  label.form-label(for="post") Postcode / ZIP*
                  input.form-control(type="number", id="post", placeholder="0000", value=user.zip || '')

              .submit-btn
                button.shop-btn.cancel-btn() Cancel
                button.shop-btn.update-btn(button-upload-personal-information) Update Profile

        .col-lg-5
          .img-upload-section
            .logo-wrapper
              h5.comment-title Update Logo
              p.paragraph Size300x300. Gifs work too.Max 5mb.
              .logo-upload
                img.upload-img(src=user.avatar ? user.avatar : "clients/images/homepage-one/upload.webp", alt="upload", id="upload-img" name="avatar")
                .upload-input
                  label(for="input-file")
                    span
                      svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                        path(d="M16.5147 11.5C17.7284 12.7137 18.9234 13.9087 20.1296 15.115C19.9798 15.2611 19.8187 15.4109 19.6651 15.5683C17.4699 17.7635 15.271 19.9587 13.0758 22.1539C12.9334 22.2962 12.7948 22.4386 12.6524 22.5735C12.6187 22.6034 12.5663 22.6296 12.5213 22.6296C11.3788 22.6334 10.2362 22.6297 9.09365 22.6334C9.01498 22.6334 9 22.6034 9 22.536C9 21.4009 9 20.2621 9.00375 19.1271C9.00375 19.0746 9.02997 19.0109 9.06368 18.9772C10.4123 17.6249 11.7609 16.2763 13.1095 14.9277C14.2295 13.8076 15.3459 12.6913 16.466 11.5712C16.4884 11.5487 16.4997 11.5187 16.5147 11.5Z", fill="white")
                        path(d="M20.9499 14.2904C19.7436 13.0842 18.5449 11.8854 17.3499 10.6904C17.5634 10.4694 17.7844 10.2446 18.0054 10.0199C18.2639 9.76139 18.5261 9.50291 18.7884 9.24443C19.118 8.91852 19.5713 8.91852 19.8972 9.24443C20.7251 10.0611 21.5492 10.8815 22.3771 11.6981C22.6993 12.0165 22.7105 12.4698 22.3996 12.792C21.9238 13.2865 21.4443 13.7772 20.9686 14.2717C20.9648 14.2792 20.9536 14.2867 20.9499 14.2904Z", fill="white")
                  input(type="file", accept="image/jpeg, image/jpg, image/png, image/webp", id="input-file" name="avatar")
